extend layout

block head
  title Transfer Recommendations Admin - #{siteName}
  script(src="/scripts/admin_recommendations.js" type="text/javascript")

block content
  div#header
    h1 Transfer Recommendations Submitted
    div#filter_box
    div#result_box
      p Loading...