extend layout

block head
    title Edit Apartment Forms - #{siteName}
    script(type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js")
    script(src="/scripts/apartments_admin.js" type="text/javascript")
block content
    div(class="editForms")