extend layout

block head
  title Callsheet - #{siteName}
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/callsheet.css')
  script(type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js")
  script(src="/scripts/callsheet.js" type="text/javascript")

block content
  div#controls
  div#callsheet_container