extend layout

block head
  title Form Builder - #{siteName}
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/forms.css')
  script(src="/scripts/forms.js" type="text/javascript")

block content
  div#builder