extend essentials

block header
  link(rel="icon" type="image/png" href="/stylesheets/images/icon.png")
  link(rel='stylesheet' href='/stylesheets/style.css')
  script(type="text/javascript" src="/scripts/abm_utils.js")
  block head

block body
  header
  div#user
    if username
      span Welcome #{displayName}!
      br
      a(href="/logout") Logout
    else
      a(href="/login") Login
  .container
    .sidebar
      .widget
        h1 Links
        ul
          li
            a(href="/") Home
          if auth >= 2
            li
              a(href="/cards") Order Cards
          if auth >= 5
            li
              a(href="/indicators/view") Senior Couple Indicators
          if auth >= 5
            li
              a(href="/hastening") Hastening the Work Ward Report
          if auth >= 5
            li
              a(href="/hastening/view") Hastening the Work Ward Report Viewer
          if auth >= 5
            li
              a(href="/forms") Form Builder
          if auth >= 5
            li
              a(href="/store") Storeroom
          if auth >= 3
            li
              a(href="/standards") Standards of Excellence
          if auth >= 4
            li
              a(href="/recommendations") Submit Transfer Recommendations
          if auth >= 5
            li
              a(href="/admin/recommendations") View Transfer Recommendations
          if auth >= 5
            li
              a(href="/callsheet") Callsheet
          if auth >= 5
            li
              a(href="/import") Import / Export
          if auth >= 5
            li
              a(href="/historical_data" target="_blank") Historical Data
          if auth >= 2
            li
              a(href="/maps") Mission Maps
          if auth >= 5
            li
              a(href="/admin/users") Users
          if auth >= 5
            li
              a(href="/config") Config
          if auth >= 2
            li
              a(href="/wardlist/") Ward List for Phone
    .main-content
      block content
  footer
    p Australia Brisbane Mission