extend layout

block head
  title Recommendations - #{siteName}

block content
  div#header
    h2 Australia Brisbane Mission
    h1 Transfer Recommendations
    p Your recommendations have been successfully submitted!