extend layout

block head
  title Recommendations - #{siteName}
  script(src="/scripts/recommendations.js" type="text/javascript")
  script(type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js")
  script(type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.js")
  script(src="/scripts/json2.js" type="text/javascript")

block content
  div#header
    h1 Transfer Recommendations
    p.
      To be discussed by <strong>both</strong> zone leaders then filled out separately.
      It should be submitted by the end of week 4.
  form#recommendations
    //Report information at top
    div
      span #{elder ? "" : "Sister"} Zone:
      input(type="text" name="zone" value=(position == "SISTER_TRAINING_LEADER" ? unit : zone) || username)
      span #{elder ? "Zone" : "Sister Training"} Leader:
      input(type="text" name="zone_leader" value=(sso ? displayName : ""))
    
    div#areas
    
    //STL area selection
    if position != "ZONE_LEADER" && position != "ZONE_LEADER_LEAD"
      div
        span Add area:
        select#newArea
          option(value="") Add Area...
    
    input(type="button" value="Create Area" onclick="addArea()")
    //Submit button
    div
      input#submit_button(type="button" value="Submit Recommendations" onclick="submitRecommendation()")