extend layout

block head
  title Senior Couple Indicators - #{siteName}
  script(src="/scripts/sr_indicators.js" type="text/javascript")
  link(rel="stylesheet" href="/stylesheets/indicators_view.css")

block content
  div#header
    h1 Senior Couple Indicators
    span#message
  div#result_box
    p Loading...
  div
    a(href="/indicators/senior_actuals.csv") Download Senior Indicator Actuals
  div
    a(href="/indicators/senior_goals.csv") Download Senior Indicator Goals
  h2 Indicators
  div#adminIndicators
  a#addLink(href="#Add Indicator") Add new indicator...
  div
    button#submitButton Save Indicators