extend layout

block head
  title Missionary Storeroom - #{siteName}
  script(src="/scripts/store.js" type="text/javascript")

block content
  h1 Missionary Storeroom
  form#store(onsubmit="return false")
    table
      tr
        td
          label(for="missionary") Missionary Placing Order:
        td
          input(type="text" name="missionary" id="missionary" value=displayName)
      tr
        td
          label(for="area") Area:
        td
          input(type="text" name="area" id="area" value=area)
      tr
        td
          label(for="zone") Zone:
        td
          input(type="text" name="zone" id="zone" value=zone)
      tr
        td
        td
          input(type="submit" value="Place Order")