#indicators
  float left
  table
    border-collapse collapse
    box-shadow 0 0 8px #999
    border-radius 4px
    background-color #fff
    margin-bottom 8px
    th, td
      font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
      border 1px #999 solid
      padding 4px
      font-size 12px
      text-align center
    tr:first-child th
      border-top 0
    tr td:first-child, tr th:first-child
      border-left 0
    tr td:last-child, tr th:last-child
      border-right 0
    tr:last-child
      td:first-child
        border-bottom-left-radius 4px
      td:last-child
        border-bottom-right-radius 4px
      td
        border-bottom 0
    th
      text-transform uppercase
      font-weight bold
      width 10px
      border-bottom 1px solid #666
    td
      input
        width 40px
        border-radius 4px
        padding 2px
        box-shadow inset 0 0 5px #bababa
        border 1px solid #cacaca
        text-align center
    
    .ki_column
      width 280px
      text-align right
    
    .band
      background-color #eef
  
  #submit
    float right
    background-color #09f
    color #fff
    border 0
    border-radius 8px
    box-shadow -4px -4px 8px #999
    padding 4px 8px
    margin-top 8px
    font-size 14px
    cursor pointer
  #submit:hover
    background-color #029