#result_box
  border 1px solid #000
  background-color #fff
  overflow-x auto
  table
    border-collapse collapse
    color #000
    font-size 12px
    .goalRow, .actualRow
      height 18px
      border 1px solid #999
    .goalRow
      color #666
      background-color #ccf
    .actualRow, .missionary, .date
      background-color #fff
      border 1px solid #999
    th, td
      padding 2px
      text-align center

.nameInput
  width 200px
.descriptionInput
  width 500px