/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #eee;
  color: #444;
}
body h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
body #zones {
  border-collapse: collapse;
  width: 100%;
}
body #zones tr {
  border: 1px solid #ccc;
}
body #zones td {
  padding: 4px;
}
body #create_zone #submit {
  float: right;
}
header {
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fff;
  background-image: url("/stylesheets/images/abm.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  -webkit-box-shadow: 0 0 1em #000;
  box-shadow: 0 0 1em #000;
}
.container {
  margin: 32px;
  overflow: hidden;
}
#user {
  float: right;
  padding: 8px;
}
.main-content {
  margin-left: 200px;
  font-size: 0.9em;
}
.main-content .rMissionary,
.main-content .rZone,
.main-content .rArea,
.main-content .rDate {
  border: 1px solid #ccc;
  margin: 8px;
  padding: 8px;
}
.main-content .rMissionary {
  background-color: #eef;
}
.main-content .rArea {
  background-color: #999;
  color: #000;
}
.main-content .rZone {
  background-color: #ccc;
  color: #933;
}
.main-content .rDate {
  color: #393;
}
.main-content .rDate h3 {
  font-weight: bold;
}
.main-content .rDate .clickable:hover {
  background-color: #999;
  cursor: pointer;
}
.main-content #users {
  border-collapse: collapse;
}
.main-content #users th,
.main-content #users td {
  border: 1px #999 solid;
  padding: 8px;
}
.main-content #sso h1 {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 26px;
  font-family: Palatino, "Palatino linotype", Georgia, "Times New Roman", serif;
  color: #4d4d4d;
}
.main-content #sso .centeredSso {
  width: 500px;
  margin: 0 auto;
}
.main-content #sso .centeredContent {
  width: 375px;
  margin: 0 auto;
}
.main-content #ssoContainer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  margin: 0 auto;
  width: 500px;
  background-color: #cfcfcf;
  padding: 25px 0;
  margin: 10px auto 0 auto;
  position: relative;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.main-content #ssoContainer #labelContainer label {
  width: 375px;
  padding-left: 2px;
}
.main-content #ssoContainer .forgot-link {
  width: 371px;
  color: #0071bc;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-right: 10px;
  font-size: 10px;
}
.main-content #ssoContainer .inputText {
  width: 318px;
  margin-top: 5px;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: inset 1px 1px 2px #696b67;
  box-shadow: inset 1px 1px 2px #696b67;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
  outline: 0;
  float: none;
  font-size: 14px;
}
.main-content #ssoContainer #username {
  background-image: url("/stylesheets/images/keys.png");
  background-repeat: no-repeat;
  background-position: 97% center;
}
.main-content #submit {
  -webkit-box-shadow: inset 0px -14px 10px #94a257;
  box-shadow: inset 0px -14px 10px #94a257;
  background-color: #b6c17f;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #94a257;
  color: #fff;
  font-weight: normal;
  padding: 9px 24px;
  text-decoration: none;
  font-size: 14px;
}
.main-content #submit:hover {
  -webkit-box-shadow: inset 0px -14px 10px #b6c17f;
  box-shadow: inset 0px -14px 10px #b6c17f;
  background-color: #94a257;
}
.main-content #submitButton {
  text-align: center;
  margin-top: 20px;
}
.main-content #login {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.main-content #login #error {
  color: #600;
}
.main-content #login div {
  height: 32px;
}
.main-content #login input {
  float: right;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content .area {
  border: 1px #333 solid;
  margin: 8px 0;
}
.main-content .area span,
.main-content .area label {
  margin: 0 4px;
}
.main-content .area .number_input {
  width: 32px;
}
.main-content .area .comments {
  width: 60%;
  min-width: 300px;
}
.main-content .missionary {
  border: 1px #999 solid;
  margin: 2px 4px 2px 16px;
}
.main-content .right {
  float: right;
}
.highlight {
  background-color: #ff0;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 20px;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  text-align: center;
}
.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget ul {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.sidebar .widget li {
  margin-bottom: 8px;
}
.sidebar .widget a {
  color: #bbf;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
  text-align: center;
}
